.login-container {
  width: 420px;
  margin: 60px auto;
  padding: 30px;

  background: white;
  border-radius: 15px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  color: #2563eb;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.login-group {
  margin-bottom: 20px;
}

.login-group label {
  display: block;
  margin-bottom: 8px;
  color: #374151;
  font-size: 16px;
  font-weight: 600;
}

.login-group input {
  width: 100%;
  padding: 12px;

  border: 1px solid #d1d5db;
  border-radius: 8px;

  font-size: 15px;
}

.login-group input:focus {
  outline: none;
  border-color: #2563eb;
}

.login-btn {
  width: 100%;
  padding: 12px;

  background: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.login-btn:hover {
  background: #1d4ed8;
}